<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>
    <body style="background-color: rgba(116, 220, 255, 0.836)">
    
        <center>
            <br><br>
            <h2> <font size="22" style="font-family:Georgia;" color="black">Oh no! An error occured </font> </h2>
            <br><br>
            <p><font size="4" style="font-family:Georgia;" color="black"> Please enter a valid username (must be public, eg. @realDonaldTrump)</font> </p>
            <br><br>
            <a href="/" style="color:blue"> Back to Home!</a>
        </center>
    
    </body>
</html>