<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>
    <body style="background-color: rgba(116, 220, 255, 0.836)">
    
        <center>
            <br><br><br><br><br>
            <h2> <font size="22" style="font-family:Georgia;" color="red">A tweet the requested user would say: </font> </h2>
            <br><br>
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header"><p> {{name}} </p></div>
                <div class="card-body"><p> {{string}} </p></div>
                <div class="card-footer text muted"> {{date}} </div>

            </div>
            <br><br>
            <a href="/" style="color:blue"> Back to Home!</a>
        </center>
    
    </body>
</html>