<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>
    <body class="centered-wrapper" style="background-color: rgba(116, 220, 255, 0.836)">
    
        <center>
            <form action="" method = "POST">
                <br><br><br><br><br>
                <font size="10" style="font-family:Georgia;" color="black"> Twitter Account: </font><br>
                <input type="text" name="username" value="" placeholder="eg. @realDonaldTrump"><br>
                <br>
                <input type="submit" value="Generate!">
            </form>
            <br>
            <br>
            <br> 
            <font size="5" style="font-family:Georgia;" color="black"> <p><i>This website lets you choose a twitter user, and runs a machine learning alrogithm</p>
                <p>to generate a tweet the user may have said based on their tweeting history.</p>
                <p>Check it out for yourself!</i></p>
             </font><br>
        </center>
    
    </body>
</html>